<h1>Listing salesreps</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salesreps.each do |salesrep| %>
  <tr>
    <td><%= salesrep.first_name %></td>
    <td><%= salesrep.last_name %></td>
    <td><%= link_to 'Show', salesrep %></td>
    <td><%= link_to 'Edit', edit_salesrep_path(salesrep) %></td>
    <td><%= link_to 'Destroy', salesrep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salesrep', new_salesrep_path %>
